<div class="container main-container">
  <h4>Demo Cadastro</h4>
  <hr />
  <form novalidate (ngSubmit)="adicionarUsuario()" [formGroup]="cadastroForm">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-md-2 control-label" for="nome">Nome Completo</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="nome" placeholder="Nome (requerido)" formControlName="nome"
          [ngClass]="{'is-invalid': cadastroForm.get('nome').errors && ((cadastroForm.get('nome').touched || (cadastroForm.get('nome')).dirty))}"/>
          <span class="text-danger" *ngIf="cadastroForm.get('nome').errors && ((cadastroForm.get('nome').touched || (cadastroForm.get('nome')).dirty))">
            <p>Preencha o campo nome</p>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" >CPF</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="cpf" placeholder="CPF (requerido)" formControlName="cpf" cpf [textMask]="{mask: MASKS.cpf.textMask}"/>
          <span class="text-danger" *ngIf="cadastroForm.get('cpf')?.errors?.cpf && ((cadastroForm.get('cpf').touched || (cadastroForm.get('cpf')).dirty))">
            <p>CPF Inválido</p>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" >E-mail</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="email" placeholder="E-mail (requerido)" formControlName="email"/>
          <span class="text-danger" *ngIf="cadastroForm.get('email')?.errors?.required && ((cadastroForm.get('email').touched || (cadastroForm.get('email')).dirty))">
            <p>Preencha o campo email</p>
          </span>
          <span class="text-danger" *ngIf="cadastroForm.get('email')?.errors?.email && ((cadastroForm.get('email').touched || (cadastroForm.get('email')).dirty))">
            <p>E-mail em formato inválido</p>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" >Senha</label>
        <div class="col-md-10">
          <input type="password" class="form-control" id="senha" placeholder="Senha (requerido)" formControlName="senha"/>
          <span class="text-danger" *ngIf="cadastroForm.get('senha')?.errors?.rangeLength && ((cadastroForm.get('senha').touched || (cadastroForm.get('senha')).dirty))">
            <p>Tamanho Inválido</p>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" >Confirme Senha</label>
        <div class="col-md-10">
          <input type="password" class="form-control" id="senhaConfirmacao" placeholder="Confirme a Senha (requerido)" formControlName="senhaConfirmacao"/>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span>
            <button class="btn btn-success" id="Registrar" [disabled]="!cadastroForm.valid" type="submit">Registrar</button>
          </span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <p>Formulário Válido: {{cadastroForm.valid}}</p>
          <p>Formulário Tocado: {{cadastroForm.touched}}</p>
          <p>Formulário Sujo: {{cadastroForm.dirty}}</p><br>
          <p>Formulário: {{formResult}}</p>
        </div>
      </div>

    </div>
  </form>
</div>
